{% extends "layout.html" %}
{% block body_content %}
<div class='form'>
	<form method='POST' action=''>
	{{ form.hidden_tag() }}
        {{ form.pizzaid.label }}
        {{ form.pizzaid }}
	{% if form.pizzaid.errors %}
		{% for error in form.pizzaid.errors %}
		{{ error }}
		{% endfor %}
	{% endif %}
        <br>
        {{ form.stock_quantity.label }}
        {{ form.stock_quantity }}
	{% if form.stock_quantity.errors %}
		{% for error in form.stock_quantity.errors %}
		{{ error }}
		{% endfor %}
	{% endif %}
        <br>
        {{ form.submit }}
        </form>
</div>


{% endblock %}